*{
	box-sizing: border-box;
}
body{
	font-family: Tahoma, sans-serif;
	width: 100%;
}
h1, h2{
	color: #008080;

}

h2{
	float: right;
	width: 50%;
	border: 1px solid black;
	text-align: center;
	margin-right: 0px;
	margin-top: 2px;
	font-size: 1.25em;

}

	h1 {
	padding: 20px;
	text-align: center;
	font-size: 1.75em;
}
p{

	float: center;
	width: 60%;
	height: 70%;
	text-align: center;
	clear: right;
	margin: 0px;
	margin-left: 10px;
	overflow: auto;
	margin-right: auto;
	margin-left: auto;

}

div{
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	height: 300px;
	width: 60%;
	padding: 1%;
	margin: 1%;
}
.div1{
	background-color: #add8e6;
}
.div2{
	background-color: #e0ffff;
}
.div3{
	background-color: #e6e6fa;
}

.sub1{
	background-color: #dcdcdc;
}

.sub2{
	background-color: #ffe4e1;
}

.sub3{
	background-color: #eee8aa;
}
section{
	width: 100%;
	padding: 2%;
	float: center;
}

@media(min-width: 992px){
	div{
		width: 30%;
		float: left;

	}
}
@media(min-width: 768px) and (max-width: 991px){
	div{
		float: left;
	}
	.div1, .div2{
		width: 40%;
	}
	.div3{
		width:82%;
	}
}