body{
	font-size: 16px;
	background-color: #90EE90;
	font-color:#000080;
	font-family: 'Nunito';

}
#header-nav{
	background-color: #FFB6C1;
	border-radius: 0;
	border: 0;

}
.navbar-brand {
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
} 

.centered {
	text-align: center;
}

.Menu-items{
	background-color: #32CD32;
}

.item-description{
	margin: 1em;
	padding-bottom: 1em;
}

.padding{
	padding: 0.2em;
	padding-top: 0.5em;
	margin: 0em;
}

.top-margin{
	margin-top: 10px;
}
/*******large devices*******/

@media (min-width: 1200px) {
	.hide-me {
		visibility: hidden;
	}
}

/******Medium devices*****/
@media (min-width: 992px) and (max-width: 1199px){
	.hide-me{
		visibility: hidden;
	}
}

/*******Small devices******/

@media(min-width: 768px) and (max-width: 991px){
	.hide-me{
		visibility: hidden;
	}
}
